DATABASE_URL="postgresql+psycopg://postgres@localhost:5432/stem_db"
FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:8000"
HOST_URL="http://localhost"
WEBSOCKET_URL="ws://localhost:8000"
